html {
    background-color: rgb(158, 161, 153);
}

h1, p, li{
    color: rgb(231, 223, 223);
}
h1{
    text-align: center;
}
section, .container{
    margin: auto;
    text-align: center;
}
.container{
    background-color: rgba(20, 22, 22, 0.575);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 35em;
    height: 90vh;
}

ul {
    list-style:lower-greek ;
    text-align: start;
}

#sortear{
    background-color: rgba(64, 119, 28, 0.719);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

#res{
    color: rgba(32, 150, 16, 0.76);
    padding-top: 1.25rem;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 25.875em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 85vw;
        background-repeat: repeat;
        /* filter: url(img/sabio.jpg); */
        /* filter:opacity(55%); */
        text-align: center;
        width: 75vw;
        height: 50vh;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
    }
    #sortear{
        padding-top: 0;
        padding: 0.313em;
        color: aliceblue;
    }
}

@media screen and (min-width: 24.375em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        height: 70vh;
        width: 90vw;
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 90vw;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
        font-size: 1.5em;
    }
    #sortear{
        padding-top: 0;
        padding: 0.7em;
        color: aliceblue;
    }
}

@media screen and (min-width: 22.5em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        height: 73vh;
        width: 92vw;
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 85vw;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
        font-size: 1.34em;
    }
    #sortear{
        padding-top: 0;
        padding: 0.9em;
        color: aliceblue;
    }
}
@media screen and (min-width: 25.75em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        height: 68vh;
        width: 92vw;
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 85vw;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
        font-size: 1.58em;
    }
    #sortear{
        padding-top: 0;
        padding: 0.9em;
        color: aliceblue;
    }
}
@media screen and (min-width: 31.25em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        height: 100vh;
        width: 92vw;
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 85vw;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
        font-size: 1.75em;
    }
    #sortear{
        padding-top: 0;
        padding: 1em;
        color: aliceblue;
    }
}
@media screen and (min-width: 56.25em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        height: 9vh;
        width: 55vw;
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 50vw;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
        font-size: 1.75em;
    }
    #sortear{
        padding-top: 0;
        padding: 1em;
        color: aliceblue;
    }
}
@media screen and (min-width: 50em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        height: 90vh;
        width: 48vw;
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 47vw;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
        font-size: 1.6em;
    }
    #sortear{
        padding-top: 0;
        padding: 1em;
        color: aliceblue;
    }
}
/* @media screen and (min-width: 85.375em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        height: 100vh;
        width: 50vw;
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 30vw;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
        font-size: 1.8em;
    }
    #sortear{
        padding-top: 0;
        padding: 1em;
        color: aliceblue;
    }
} */
@media screen and (min-width: 43.75em){
    h1{
        color: rgb(32, 224, 64);
        text-align: center;
    }
    .container{
        height: 80vh;
        width: 50vw;
        margin: auto;
        background-image: url(img/sabio.jpg);
        background-size: 48vw;
        box-shadow: 3px 3px 10px rgba(41, 151, 56, 0.788);
    }
    .container p, li{
        color: rgba(35, 143, 25, 0.945);
        letter-spacing: 2px;
        font-size: 1.2em;
    }
    #sortear{
        padding-top: 0;
        padding: 1em;
        color: aliceblue;
    }
}